#container {
  margin: 0 auto 0 auto;
  top: 0px;
  left: 0px;
  width: 1900px;
  height: 1080px;
  position: absolute;
  background-color: #000000;
}

#start {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  margin: 510px 0px 0px 765px;
  font-size: 70px;
  color: #ffffff;
}

#level {
  position: absolute;
  margin: 510px 0px 0px 820px;
  font-size: 70px;
  color: #ffffff;
}

#maxlevel {
  position: absolute;
  margin: 590px 0px 0px 847px;
  font-size: 25px;
  color: #ffffff;
}

#red {
  background-color: #B40404;
  height: 400px;
  width: 400px;
  position: absolute;
  border-radius: 1000px;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  margin: 100px 0px 0px 325px;
}

#blue {
  background-color: #0489B1;
  height: 400px;
  width: 400px;
  position: absolute;
  border-radius: 1000px;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  margin: 100px 0px 0px 1150px;
}

#yellow {
  background-color: #AEB404;
  height: 400px;
  width: 400px;
  position: absolute;
  border-radius: 1000px;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  margin: 600px 0px 0px 325px;
}

#green {
  background-color: #31B404;
  height: 400px;
  width: 400px;
  position: absolute;
  border-radius: 1000px;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  margin: 600px 0px 0px 1150px;
}
